node_modules
package-lock.json
public/styles/store.css.map
public/styles/store.css
public/styles/home.css.map
public/styles/home.css
public/styles/detalle.css.map
public/styles/detalle.css
public/styles/checkout.css.map
public/styles/checkout.css