<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Halloween Horror Nights</title>
    <link rel="stylesheet" type="text/css" href="/styles/detalle.css">
    <link href="https://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    <section class="menu">
        <div class="hamburguesa">
            <img src="/Imagenes/T2/MOVIL/menu.png" alt="" style="width: 100%;">
        </div>
        <div class="logo">
            <img src="/Imagenes/T2/MOVIL/logo.png" style="width: 100%;" alt="">
        </div>

        <h2 class="nav">ATRACCIONES</h2>
        <h2 class="nav">GALERIA</h2>
        <h2 class="nav">PLANEA TU EXPERIENCIA</h2>

        <div>
            <img src="/Imagenes/T2/MOVIL/carrito.png" alt="" style="width: 100%;">
        </div>
    </section>

    
</body>
</html>