<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Halloween Horror Nights</title>
    <link rel="stylesheet" type="text/css" href="styles/home.css">
    <link href="https://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet" type="text/css">

</head>

<body>
    <section class="contenedor">
        <div class="contenedor__menu">

            <img class="contenedor__menu__logo" src="Imagenes/logo.png" alt="">

        </div>

        <nav class="contenedor__dos">


            <h4 class="contenedor__dos__titulo">ATRACCIONES</h4>

            <h4 class="contenedor__dos__titulo">GALERIA</h4>

            <h4 class="contenedor__dos__titulo">DISEÑA TU EXPERIENCIA</h4>

            <h4 class="contenedor__dos__titulo">INSCRIBETE</h4>

        </nav>

    </section>

    <section class="fondo">
        <div class="fondo__descripcion">
            <h1>EL MIEDO VERDADERO VIENE DE DENTRO</h1>
            <p>
                Enfréntate a tus miedos más oscuros en el evento más aterrador e intenso del sur de California:
                Universal Studios ™ Halloween Horror Nights ™ . El estudio de cine que inventó el género de terror le da
                vida a los nuevos mundos inmersivos de la vida, respirando iconos de las imaginaciones más retorcidas
                del cine y la televisión.
            </p>

            <h2>
                ¡Y, ahora los escalofríos continúan con noches prolongadas hasta el 4 de noviembre!
            </h2>

            <div class="fondo__descripcion__boton"> <a href="/store">COMPRAR ENTRADAS</a></div>

        </div>
    </section>
    
    <section class="galeria">

        <h1>GALERIA</h1>

        <div class="galeria__hor">
            <div class="galeria__hor__fotos">        
                <img class= "galeria__hor__fotos__img" src="Imagenes/galeria3.jpg">
                <img class= "galeria__hor__fotos__img" src="Imagenes/galeria6.jpg">
                <img class= "galeria__hor__fotos__img--1" src="Imagenes/galeria2.jpg">
                <img class= "galeria__hor__fotos__img--2" src="Imagenes/galeria5.jpg">    
            </div>

            <img class= "galeria__hor__img" src="Imagenes/galeria1.jpg">

        </div>

    </section>

    <section class="publicidad">
        <h1>TRICK R TREAT</h1>
        <p>¡Vive la noche de Halloween como nunca antes con Trick `r Treat, la antologia de terror del escritor / director Michael Dougherty que se ha convertido en un clásico al horror moderno!
        </p>
    </section>

    <section class="publicidad--dos">
        <h1>STRANGERS THINGS</h1>
        <p>¡Adéntrate en el mundo de Stranger Things y prepárate para enfrentar el fenómeno Upside Down de esta serie de cultura pop!
        </p>
    </section>

    <section class="interaccion">
        <img class="interaccion__img" src="Imagenes/interaccion2.jpg">
        <input type="range" min="1" max="100" value="50" class="interaccion__slider">
    </section>

    <section class="inscribirse">
            <img class="contenedor__menu__logo" src="Imagenes/logo.png">
            <h1>INSCRIBIRSE</h1>
            <input type="text" placeholder="corrreo...">
            <input type="text" placeholder="contraseña...">
            <div class="inscribirse__boton">INGRESAR</div>
    </section>

    <section class="entradas">
        <h1>ENTRADAS</h1>
        <div class="entradas__cajas">
            <div class="entradas__cajas__caja">
                EXPERIENCIA VIP <div  class="entradas__cajas__caja__precio">$349US</div>
            </div>
            <div class="entradas__cajas__caja">
                EXPERIENCIA GENERAL <div  class="entradas__cajas__caja__precio">$170US</div>
            </div>
            <div class="entradas__cajas__caja">
                EXPERIENCIA EXPRESS <div  class="entradas__cajas__caja__precio">$109US</div>
            </div>
        </div>
    </section>

</body>

<footer>
    <div  class="centrado">
        <h2>CONTACTENOS</h2>
        <h2>TERMINOS DE USO</h2>
        <h2>COPYRIGHT Y MARCA REGISTRADA</h2>
    </div>

    <div class="centrado">
        <h2>POLÍTICAS DE PREVACIDAD</h2>
        <h2>DERECHOS DE CA</h2>
        <h2>UBICADOS EN LOS ANGELES CA</h2>
    </div>

    <div class="advertencia">
        <h2 class="advertencia__titulo">ADVERTENCIA</h2>
        <p class="advertencia__desc"> Este evento no es recomendado para <br/>personas menores a los 13 años de edad</p>
    </div>
</footer>
<script src="scripts/home.js"></script>
</html>